<div id='splash'>
    <div id='introduction'>
        <h4>Welcome to the Price is Right!  Where Everyone's a winner!</h4>
    </div>
    <div id='fb_connect' class='login_box active'>
		<h5>Login with Facebook to start</h5>
		<div id='fb_login' class='facebook-button large'><span class='button-text'>I'm ready, Bob.</span></div>
		<p id='privacy_info'>Questions? Read our <a href='/privacy'>Privacy Policy</a></p>
	</div>
</div>
    
    
<div id='instructions' style='display:none'>
    <h4>Instructions</h4>
    Don't block the box!
</div>

