/*-----------------------------------------
The Login Splash
------------------------------------------*/
/* line 5, ../../app/assets/stylesheets/game.css.scss */
#splash {
  background-color: #fff;
  padding: 50px !important;
  padding-bottom: 20px !important;
}
/* line 9, ../../app/assets/stylesheets/game.css.scss */
#splash h4 {
  margin-bottom: 15px;
}
/* line 12, ../../app/assets/stylesheets/game.css.scss */
#splash p {
  font-size: 15px;
  line-height: 1.43em;
  color: #444;
}
/* line 16, ../../app/assets/stylesheets/game.css.scss */
#splash p strong {
  font-weight: normal;
  color: #3b5998;
}
/* line 21, ../../app/assets/stylesheets/game.css.scss */
#splash #fb_connect {
  width: 208px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
/* line 27, ../../app/assets/stylesheets/game.css.scss */
#splash #fb_login {
  height: 46px;
  width: 160px;
  display: block;
  background: transparent url("/images/facebook-lg-f.png") no-repeat top left;
  padding-left: 48px;
  cursor: pointer;
}
/* line 35, ../../app/assets/stylesheets/game.css.scss */
#splash #fb_login .button-text {
  display: block;
  padding: 15px 7px 17px 5px;
  background: transparent url('/images/facebook-lg-r.png?1322944760') no-repeat top right;
  color: #f2f2f2;
}
/* line 42, ../../app/assets/stylesheets/game.css.scss */
#splash #fb_login.active {
  margin-top: 1px;
}
/* line 47, ../../app/assets/stylesheets/game.css.scss */
#splash #privacy_info {
  color: #666666;
  font-size: 11px;
  margin-top: 15px;
}
/* line 51, ../../app/assets/stylesheets/game.css.scss */
#splash #privacy_info a {
  color: #666666;
}
/* line 53, ../../app/assets/stylesheets/game.css.scss */
#splash #privacy_info a:hover {
  text-decoration: underline;
}

/*-----------------------------------------
The Instructions Page
------------------------------------------*/
/* line 63, ../../app/assets/stylesheets/game.css.scss */
#instructions {
  background-color: #fff;
}
/* line 65, ../../app/assets/stylesheets/game.css.scss */
#instructions p {
  font-size: 15px;
  line-height: 1.43em;
  color: #444;
  padding-top: 15px;
}
/* line 71, ../../app/assets/stylesheets/game.css.scss */
#instructions #loading_wait {
  float: right;
  font-size: 14px;
  color: #3b5998;
  padding-right: 6px;
  padding-bottom: 4px;
}
/* line 75, ../../app/assets/stylesheets/game.css.scss */
#instructions #loading_wait img {
  width: 12px;
  padding-right: 2px;
}

/*-----------------------------------------
The Game Page
------------------------------------------*/
/* line 84, ../../app/assets/stylesheets/game.css.scss */
#game {
  background-color: #fff;
  position: relative;
  padding-bottom: 0px;
}
/* line 89, ../../app/assets/stylesheets/game.css.scss */
#game #timer {
  position: absolute;
  top: 16px;
  right: 10px;
  font-size: 64px;
  font-weight: bold;
  color: #bd1e1e;
  text-shadow: 0px -1px 0px #995555;
  padding: 20px;
}
/* line 100, ../../app/assets/stylesheets/game.css.scss */
#game #left_block {
  width: 440px;
  float: left;
}
/* line 103, ../../app/assets/stylesheets/game.css.scss */
#game #left_block img {
  float: left;
  padding: 3px;
  border: 1px solid #eee;
  margin: 6px;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px;
}
/* line 109, ../../app/assets/stylesheets/game.css.scss */
#game #left_block img.small {
  max-width: 200px;
}
/* line 114, ../../app/assets/stylesheets/game.css.scss */
#game #right_block {
  padding-top: 50px;
  width: 180px;
  padding-left: 20px;
  float: left;
}
/* line 120, ../../app/assets/stylesheets/game.css.scss */
#game #right_block .helper {
  margin-top: 22px;
}
/* line 122, ../../app/assets/stylesheets/game.css.scss */
#game #right_block input {
  margin-top: 4px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px;
  width: 100%;
}
/* line 129, ../../app/assets/stylesheets/game.css.scss */
#game #right_block input.invalid {
  color: #B94A48;
  border-color: #EE5F5B;
}
/* line 132, ../../app/assets/stylesheets/game.css.scss */
#game #right_block input.invalid:focus {
  outline: none;
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
/* line 141, ../../app/assets/stylesheets/game.css.scss */
#game #right_block #answer {
  color: #5AA732;
  margin-top: 2px;
  margin-bottom: 40px;
  padding-left: 6px;
  font-size: 14px;
  height: 16px;
}
/* line 149, ../../app/assets/stylesheets/game.css.scss */
#game #right_block #idk {
  margin-top: 4px;
}

/* line 155, ../../app/assets/stylesheets/game.css.scss */
#hover_img {
  display: none;
  padding: 15px;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  -o-border-radius: 6px / 6px;
  -ms-border-radius: 6px / 6px;
  -khtml-border-radius: 6px / 6px;
  border-radius: 6px;
  position: absolute;
}
/* line 161, ../../app/assets/stylesheets/game.css.scss */
#hover_img .tag_box {
  border: 2px solid red;
  position: absolute;
}

/*-----------------------------------------
The Results Link Page
------------------------------------------*/
/* line 169, ../../app/assets/stylesheets/game.css.scss */
#results {
  padding: 160px 0px 0px 205px !important;
}
/* line 171, ../../app/assets/stylesheets/game.css.scss */
#results h4 {
  margin-bottom: 10px;
}
/* line 174, ../../app/assets/stylesheets/game.css.scss */
#results #results_button {
  margin-top: 15px;
  margin-left: 180px;
}

/*-----------------------------------------
The Actual Results Page
------------------------------------------*/
<<<<<<< HEAD
/* line 171, ../../app/assets/stylesheets/game.css.scss */
#full_results p {
  font-size: 14px;
}
/* line 174, ../../app/assets/stylesheets/game.css.scss */
=======
/* line 183, ../../app/assets/stylesheets/game.css.scss */
>>>>>>> 9eb9c1c030e4960cb70494c51c058fda6c3f54ca
#full_results .score {
  color: #3e86ce;
  font-weight: bold;
  text-shadow: 0px -1px 0px #f2f2f2;
}
<<<<<<< HEAD
/* line 179, ../../app/assets/stylesheets/game.css.scss */
=======
/* line 188, ../../app/assets/stylesheets/game.css.scss */
>>>>>>> 9eb9c1c030e4960cb70494c51c058fda6c3f54ca
#full_results .friend_box {
  display: block;
  float: left;
  padding: 4px;
  width: 150px;
  text-align: center;
  border: 1px solid #eee;
  margin: 6px;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px;
}
<<<<<<< HEAD
/* line 188, ../../app/assets/stylesheets/game.css.scss */
=======
/* line 197, ../../app/assets/stylesheets/game.css.scss */
>>>>>>> 9eb9c1c030e4960cb70494c51c058fda6c3f54ca
#full_results .friend_box .image_crop {
  height: 80px;
  width: 100px;
  text-align: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
<<<<<<< HEAD
/* line 196, ../../app/assets/stylesheets/game.css.scss */
#full_results .friend_box a {
  font-size: 14px;
}
/* line 199, ../../app/assets/stylesheets/game.css.scss */
=======
/* line 205, ../../app/assets/stylesheets/game.css.scss */
#full_results .friend_box a {
  font-size: 14px;
}
/* line 208, ../../app/assets/stylesheets/game.css.scss */
>>>>>>> 9eb9c1c030e4960cb70494c51c058fda6c3f54ca
#full_results .friend_box:hover {
  background-color: #fff;
  border: 1px solid #ddd;
}
<<<<<<< HEAD
/* line 204, ../../app/assets/stylesheets/game.css.scss */
#full_results h1 {
  margin-top: 60px;
}
/* line 206, ../../app/assets/stylesheets/game.css.scss */
#full_results h1 .button {
  top: -9px;
  left: 496px;
}
/* line 211, ../../app/assets/stylesheets/game.css.scss */
=======
/* line 213, ../../app/assets/stylesheets/game.css.scss */
#full_results h1 {
  margin-top: 60px;
}
/* line 216, ../../app/assets/stylesheets/game.css.scss */
>>>>>>> 9eb9c1c030e4960cb70494c51c058fda6c3f54ca
#full_results h4 {
  margin-top: 30px;
}
