/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* line 5, ../../app/assets/stylesheets/main.css.scss */
html body {
  margin: 0px;
  padding: 0px;
}

/* line 9, ../../app/assets/stylesheets/main.css.scss */
body {
  position: static;
}

/* line 13, ../../app/assets/stylesheets/main.css.scss */
#social_block {
  position: absolute;
  top: 7px;
  right: 0px;
  width: 128px;
}

/* line 20, ../../app/assets/stylesheets/main.css.scss */
#container {
  width: 720px;
  min-height: 400px;
  border: 1px solid #eee;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-bottom: 50px;
}

/*  
    NOTE: to include images use 
    image-url("search.png") 
    image-path("search.png")
*/
