/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* line 5, ../../app/assets/stylesheets/main.css.scss */
html {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 10, ../../app/assets/stylesheets/main.css.scss */
html body {
  margin: 0px;
  padding: 0px;
  position: static;
}

/* line 15, ../../app/assets/stylesheets/main.css.scss */
body {
  background: #fdfdfd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fdfdfd 0%, #f3f3f3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f3f3f3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #f3f3f3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfdfd 0%, #f3f3f3 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fdfdfd 0%, #f3f3f3 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f3f3f3',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #fdfdfd 0%, #f3f3f3 100%);
  /* W3C */
}

/* line 27, ../../app/assets/stylesheets/main.css.scss */
#social_block {
  position: absolute;
  top: 7px;
  right: 0px;
  width: 128px;
}

/* line 34, ../../app/assets/stylesheets/main.css.scss */
#photorow_wrapper {
  position: absolute;
  top: 300px;
  left: 0px;
  width: 100%;
  overflow-x: hidden;
  height: 100px;
  overflow: hidden;
  z-index: -1;
  -moz-box-shadow: 0px 0px 3px #555555;
  -webkit-box-shadow: 0px 0px 3px #555555;
  box-shadow: 0px 0px 3px #555555;
}
/* line 44, ../../app/assets/stylesheets/main.css.scss */
#photorow_wrapper #photorow {
  width: 1500%;
  margin-left: -700%;
  text-align: center;
}
/* line 48, ../../app/assets/stylesheets/main.css.scss */
#photorow_wrapper #photorow img {
  height: 100px;
  display: inline;
}

/* line 55, ../../app/assets/stylesheets/main.css.scss */
#container {
  width: 720px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #eee;
  margin-top: -440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background: #fff;
  -moz-box-shadow: 0px 2px 8px #e5e5e5;
  -webkit-box-shadow: 0px 2px 8px #e5e5e5;
  box-shadow: 0px 2px 8px #e5e5e5;
}
/* line 67, ../../app/assets/stylesheets/main.css.scss */
#container > div {
  padding: 40px;
}

/* line 72, ../../app/assets/stylesheets/main.css.scss */
#container_full {
  width: 1032px;
  min-height: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/* line 81, ../../app/assets/stylesheets/main.css.scss */
#nav_bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 26px;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  -moz-box-shadow: 0px 1px 3px #f5f5f5;
  -webkit-box-shadow: 0px 1px 3px #f5f5f5;
  box-shadow: 0px 1px 3px #f5f5f5;
  padding-top: 8px;
  padding-left: 20px;
}
/* line 93, ../../app/assets/stylesheets/main.css.scss */
#nav_bar a {
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
}
/* line 98, ../../app/assets/stylesheets/main.css.scss */
#nav_bar a.thin {
  font-weight: normal;
  font-size: 12px;
}

/* line 105, ../../app/assets/stylesheets/main.css.scss */
#footer {
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 11px;
  text-shadow: 0px 1px 0px #fff;
}
/* line 113, ../../app/assets/stylesheets/main.css.scss */
#footer a {
  text-decoration: none;
  color: #555;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 118, ../../app/assets/stylesheets/main.css.scss */
#footer a:hover {
  font-weight: bold;
}

/* line 124, ../../app/assets/stylesheets/main.css.scss */
.button {
  font-size: 14px;
  padding: 9px 14px;
}
/* line 128, ../../app/assets/stylesheets/main.css.scss */
.button.green {
  background-color: #53bb2a;
}
/* line 130, ../../app/assets/stylesheets/main.css.scss */
.button.green.nice {
  border: 1px solid #3e8e1e;
}
/* line 133, ../../app/assets/stylesheets/main.css.scss */
.button.green.arrow {
  background: url('/images/white-button-arrow.png?1322944760') no-repeat right center #53bb2a;
  padding-right: 32px;
}
/* line 137, ../../app/assets/stylesheets/main.css.scss */
.button.green:hover {
  background: url('/images/white-button-arrow.png?1322944760') no-repeat right center #4fad2a;
}

/* line 144, ../../app/assets/stylesheets/main.css.scss */
.facebook-button {
  height: 46px;
  width: 160px;
  display: block;
  background: transparent url('/images/facebook-lg-f.png?1322944760') no-repeat top left;
  padding-left: 48px;
  cursor: pointer;
}
/* line 152, ../../app/assets/stylesheets/main.css.scss */
.facebook-button .button-text {
  display: block;
  padding: 15px 7px 17px 5px;
  background: transparent url('/images/facebook-lg-r.png?1322944760') no-repeat top right;
  color: #f2f2f2;
}
/* line 159, ../../app/assets/stylesheets/main.css.scss */
.facebook-button.active {
  margin-top: 1px;
}

/*  
    NOTE: to include images use 
    image-url("search.png") 
    image-path("search.png")
*/
