@import 'common-vars';
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html{
    min-height:100%;
    margin:0px;
	padding:0px;
}
html body{
    margin:0px;
	padding:0px;
	position:static;
}
body {
	//background gradient
	background: rgb(253,253,253); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(243,243,243,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(243,243,243,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(243,243,243,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(253,253,253,1) 0%,rgba(243,243,243,1) 100%); /* W3C */
}

#social_block{
    position: absolute;
    top: 7px;
    right: 0px;
    width: 128px;
}

#photorow_wrapper{
    position:absolute;
    top:300px;
    left:0px;
    width:100%;
	overflow-x:hidden;
    height:100px;
    overflow:hidden;
    z-index:-1;
    @include dropShadow(0px, 0px, 3px, #555);
    #photorow{
        width:120%;
        margin-left:-10%;
        text-align:center;
        img{
            height:100px;
            display:inline;
        }   
    }   
}

#container{
    width:720px;
    height:400px;
    overflow:hidden;
    border:1px solid #eee;
    margin-top:-440px;  //animates to 130px
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
    background: #fff;
   // background-color: rgba(252, 252, 252, 0.88);
    @include dropShadow(0px, 2px, 8px, #e5e5e5);
    >div{
        padding:40px;
    }
}

#container_full{
    width:1032px;
    min-height:600px;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
}

#nav_bar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:26px;
    z-index:999;
    background-color:#fff;
    border-bottom:1px solid #eee;
    @include dropShadow(0px, 1px, 3px, #f5f5f5);
    padding-top:8px;
    padding-left:20px;
    a{
        font-size: 14px;
        padding-right: 10px;
        padding-left: 10px;
        font-weight: bold;
        &.thin{
            font-weight:normal;
            font-size:12px;
        }
    }
}

#footer{
    width:500px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    font-size:11px;
    text-shadow: 0px 1px 0px #fff;
    a{ 
        text-decoration:none;
        color:#555;
        padding-top:5px;
        padding-bottom:5px;
        &:hover{
            font-weight:bold;   
        }
    }
}

.button {
	font-size: 14px;
	padding: 9px 14px;
	
	&.green {
		background-color: #53bb2a;
		&.nice {
			border: 1px solid #3e8e1e;
		}
		&.arrow{
    	    background: url("../images/white-button-arrow.png") no-repeat right center #53bb2a;
    	    padding-right:32px;
    	}
		&:hover {
		    background: url("../images/white-button-arrow.png") no-repeat right center #4fad2a;
		}
	}

}


/*  
    NOTE: to include images use 
    image-url("search.png") 
    image-path("search.png")
*/