<div id="static_page">
    <h3>About</h3>
    <p>
    Lorem ipsum tea part bipsum.
    <span class="emphasis">StrangerFb</span> helps you blah blah blah <strong> woah this is bold</strong>. 
    And just like that, profit!
    </p>

    <h5>Technical Details</h5>
    <p>
    Powered by <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> 
    and <a href="http://www.heroku.com/" target="_blank">Heroku</a>. This application 
    is hosted publicly on <a href="https://github.com/comp615/StrangerFB" target="_blank">GitHub</a> 
    and provided under the [ Insert License Information ]. 
    </p>

    <h4>Terms and Conditions & Privacy</h4>
    <p>
        Only the information required to provide this service is stored on our servers. 
        As with all Facebook applications, your password and email are never visible to us. 
        <br />
        Your information will never be sold or used outside the context of this project.
        <br /><br />
        All source code is avilable on <a href="https://github.com/comp615/StrangerFB">Github</a>. 
        The program is licensed under the <span id="mit-click">MIT License</span>. So if you find any part of our code useful, please feel free to use it and maybe send us a note (We'd love to hear about it!).

    </p>
    
    <div id="mit">
        Copyright (c) 2012 Charlie Croom and Bay Gross
		<br /><br />
		Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
		<br /><br />
		The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
		<br /><br />
		THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </div>
    
    <hr />
    <a href="http://twitter.com/#!/baygross">@baygross</a><br />
    <a href="http://twitter.com/#!/charliecroom">@charliecroom</a>
    
    <a href="/" class="bottom_link"> Home<span class="hand"> ☞</span></a>
</div>
