<div id="static_page">
    <h3>About</h3>
    <p>
    Lorem ipsum tea part bipsum.
    <span class="emphasis">StrangerFb</span> helps you blah blah blah <strong> woah this is bold</strong>. 
    And just like that, profit!
    </p>

    <h5>Technical Details</h5>
    <p>
    Powered by <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> 
    and <a href="http://www.heroku.com/" target="_blank">Heroku</a>. This application 
    is hosted publicly on <a href="https://github.com/comp615/StrangerFB" target="_blank">GitHub</a> 
    and provided under the [ Insert License Information ]. 
    </p>

    <h4>Terms and Conditions & Privacy</h4>
    <p>
        purely blackmail
    </p>
    
    <hr />
    <a href="http://twitter.com/#!/baygross">@baygross</a><br />
    <a href="http://twitter.com/#!/charliecroom">@charliecroom</a>
    
    <a href="/" class="bottom_link"> Home<span class="hand"> ☞</span></a>
</div>
